@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
}
/* Adjust content that sits next to sidebar and below navbar */
.main-content {
  margin-left: 18%;     /* Same as sidebar width */
  padding: 100px 2rem 2rem; /* Top padding for fixed navbar */
  box-sizing: border-box;
}
